{% extends 'base.html' %}
{% block extra_header %}
<a class="button" href="{% url 'transaction_create_view' %}">New Transaction</a>
{% endblock %}
{% block content %}
<h4>{{ request.user }}'s Transaction History</h4>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Action</th>
      <th>Date & Time</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in user_transactions %}
    <tr>
      <td>${{ transaction.amount }}</td>
      <td>{{ transaction.get_action_display }}</td>
      <td>{{ transaction.created_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>${{ request.user.account.calc_balance }}</h2>

{% endblock %}
